
<div ng-show="acao == 'l'">
	<p>Listagem de Clientes</p>
	<p>
		<input type="text" ng-model="nomeDoCliente">
	</p>
	<p><button ng-click="incluir()">Novo</button></p>

	<table>
		<thead>
			<tr>
				<th>CODIGO</th>	
				<th>NOME</th>	
				<th>INSCRICAO FEDERAL</th>	
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in clientes | orderBy:'nome' | filter: nomeDoCliente">
				<td>{{item.codigo}}</td>
				<td>{{item.nome}}</td>
				<td>{{item.inscricaoFederal}}</td>
				<td><button ng-click="alterar(item)">A</button></td>
				<td><button ng-click="excluir(item)">E</button></td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-show="acao != 'l'">
	<p>Manutenção de Cliente</p>	
	<label>Nome</label>
	<p><input type="text" ng-model="cliente.nome"></p>
	<label>Inscrição Federal</label>
	<p><input type="text" ng-model="cliente.inscricaoFederal"></p>
	<p><button ng-click="listar()">Cancelar</button></p>
	<p><button ng-click="salvar()">{{textoAcao}}</button></p>
</div>

